<div class="query-content" ng-controller="QueryResultCtrl" ng-if="curQuery">
<div>
<div ng-if="curQuery.result.partial" class="text-info">
    Note: Current results are partial, please click 'Show All' button to get all results.
    <button class="btn btn-default btn-xs" ng-click="reset(curQuery);curQuery.acceptPartial=false;query(curQuery)">
        Show All
    </button>
</div>
<div class="pull-right">
                        <span style="color: #808080">
                            <span>Start Time: {{curQuery.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>&nbsp;&nbsp;
                            <span ng-if="curQuery.result.results">Duration: {{curQuery.result.duration/1000 | number: 2}}s</span>&nbsp;&nbsp;
                        </span>
    <button class="btn btn-success btn-xs" ng-click="rerun()">
        <i class="fa fa-refresh"></i> Rerun
    </button>
    <button class="btn btn-grey btn-xs" ng-click="showSavePanel()">
        <i class="fa fa-floppy-o"></i> Save
    </button>
</div>

<div class="form-group">
    <label>Query String</label>
    <label ng-click="curQuery.result.show=!curQuery.result.show" style="padding:5px">
        <i ng-if="!curQuery.result.show" class="fa fa-angle-double-down"></i>
        <i ng-if="curQuery.result.show" class="fa fa-angle-double-right"></i>
    </label>
    <section style="padding-bottom: 20px" ng-if="curQuery.result.show">
        <div ui-ace="{
                      useWrapMode : true,
                      showGutter: true,
                      theme:'chrome',
                      mode: 'sql',
                      onLoad: aceLoaded,
                      onChange: aceChanged
                    }" ng-model="curQuery.sql"></div>
    </section>
</div>

<div class="form-group">
    <ul class="row">
        <li class="col-md-3" style="display: inline">
            <label>Status: &nbsp;</label>
            <span class="label label-lg label-danger arrowed" ng-if="curQuery.status=='failed'">Failed</span>
            <span class="label label-lg label-success arrowed" ng-if="curQuery.status=='success'">Success</span>
            <span class="label label-lg label-info" ng-if="curQuery.status=='executing'">
                <i class="fa fa-cog fa-spin"></i> Executing...</span>
        </li>
        <li class="col-md-3 " style="display: inline">
            <label>Project: &nbsp;</label>
            <span>{{curQuery.project}}</span>
        </li>
        <li class="col-md-4 " style="display: inline">
            <label>Cubes: &nbsp;</label>
            <span>{{curQuery.result.cube}}</span>
        </li>
    </ul>
</div>

<div ng-if="curQuery.status!='executing'" ng-class="{true: 'fullscreen-result', false: ''}[ui.fullScreen]"
     style="{{ui.fullScreen ? 'padding: 40px 40px 0px 40px':''}}">
    <label>Results <span style="vertical-align:middle;color: grey;font-size: 15px"
                         ng-if="curQuery.status=='success'">(<strong>{{curQuery.result.results.length}})</strong></span></label>

    <div class="pull-right" ng-if="curQuery.status=='success'">
        <button class="btn btn-default btn-xs"
                ng-click="curQuery.graph.show=!curQuery.graph.show;buildGraphMetadata(curQuery);resetGraph(curQuery);refreshGraphData(curQuery)">
            <span ng-if="!curQuery.graph.show"><i class="fa fa-bar-chart-o"></i> Visualization</span>
            <span ng-if="curQuery.graph.show"><i class="fa fa-list-ul"></i> Grid</span>
        </button>
        <a class="btn btn-default btn-xs"
           href="{{config.service.url}}query/format/csv?sql={{sanitate(curQuery.sql)}}&project={{curQuery.project}}" target="_blank"><i
                class="fa fa-cloud-download"></i> Export</a>
        <a class="btn btn-default btn-xs"
           ng-click="refreshUi();"><i
                ng-class="{true: 'fa fa-compress', false: 'fa fa-expand'}[ui.fullScreen]"></i></a>
    </div>

    <div ng-if="!curQuery.graph.show">
        <div class="query-results">
            <div ng-if="curQuery.status=='success'">
                <div class="gridStyle" ng-grid="curQuery.result.gridOptions"
                     ng-if="curQuery.result.results.length > 0" id="data_grid"
                     style="{{ui.fullScreen?'height: 600px;width:auto':'height: 300px'}}"></div>
                <div ng-if="!curQuery.result.results || curQuery.result.results.length == 0"
                     style="padding-top: 10%">
                    <div no-result></div>
                </div>
            </div>

            <div ng-if="curQuery.status=='failed'">
                <div class="text-danger" style="display: block;white-space: normal">
                    {{curQuery.result.data.exception}}
                </div>
            </div>

            <div style="width: 100%;padding-top: 5px" ng-if="curQuery.result.hasMore">
                <div>
                    <div>
                        <button class="btn btn-default btn-sm" style="float: none;width: 100%"
                                ng-click="loadMore(curQuery)" ng-disabled="curQuery.result.loading">
                            <i class="icon-plus icon-white"></i> <span>{{ curQuery.result.loading ? 'Loading...' : 'More' }}</span>
                        </button>
                    </div>
                    <div class="clearfix" style="margin: 5px"></div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="curQuery.graph.show" class="row">
        <div class="col-xs-2">
            <div class="graph_content">
                <label>Graph Type</label>

                <select ng-model="curQuery.graph.type"
                        ng-change="resetGraph(curQuery);refreshGraphData(curQuery)"
                        ng-options="type as type.name for type in chartTypes"></select>
            </div>

            <div class="graph_content">
                <label>Dimensions</label>

                <div>
                    <select
                            chosen style="width: 100%"
                            ng-model="curQuery.graph.state.dimensions" ng-change="refreshGraphData(curQuery)"
                            ng-options="dimension as dimension.column.label for dimension in curQuery.graph.meta.dimensions | filter: mappingToChartype">
                        <option value="">-- choose dimension --</option>
                    </select>
                </div>
            </div>

            <div class="graph_content">
                <label>Metrics</label>

                <div>
                    <select ng-if="curQuery.graph.type.metrics.multiple"
                            chosen style="width: 100%"
                            multiple
                            data-placeholder="Select Metrics.."
                            ng-model="curQuery.graph.state.metrics"
                            ng-options="metrics as metrics.column.label for metrics in curQuery.graph.meta.metrics"
                            ng-change="refreshGraphData(curQuery)">
                        <option value="">-- choose metrics --</option>
                    </select>
                    <select ng-if="!curQuery.graph.type.metrics.multiple"
                            chosen style="width: 100%"
                            data-placeholder="Select Metrics.."
                            ng-model="curQuery.graph.state.metrics"
                            ng-options="metrics as metrics.column.label for metrics in curQuery.graph.meta.metrics"
                            ng-change="refreshGraphData(curQuery)">
                        <option value="">-- choose metrics --</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-xs-10">
            <div ng-if="curQuery.graph.data.length > 0">
                <div ng-if="curQuery.graph.type.value == 'bar'">
                    <nvd3-multi-bar-chart
                            data="curQuery.graph.data"
                            height="{{curQuery.graph.data.length * 5 + 250}}"
                            showXAxis="true"
                            showYAxis="true"
                            noData="No Graph"
                            showLegend="true"
                            interactive="true"
                            tooltips="true"
                            >
                        <svg></svg>
                    </nvd3-multi-bar-chart>
                </div>

                <div ng-if="curQuery.graph.type.value == 'line'">
                    <nvd3-line-chart
                            height="350"
                            data="curQuery.graph.data"
                            xAxisTickFormat="xAxisTickFormatFunction()"
                            showXAxis="true"
                            showYAxis="true"
                            noData="No Graph"
                            clipVoronoi="true"
                            interactive="true"
                            tooltips="true"
                            >
                        <svg></svg>
                    </nvd3-line-chart>
                </div>

                <div ng-if="curQuery.graph.type.value == 'pie'">
                    <nvd3-pie-chart
                            data="curQuery.graph.data"
                            height="{{ curQuery.graph.data.length | resizePieHeight }}"
                            x="xFunction()"
                            y="yFunction()"
                            noData="No Graph"
                            tooltips="true"
                            showLabels="true"
                            showLegend="true"
                            >
                        <svg></svg>
                    </nvd3-pie-chart>
                </div>
            </div>

            <div ng-if="!curQuery.graph.data || curQuery.graph.data.length == 0" style="padding-top: 10%">
                <div no-result text="No Graph Generated."></div>
            </div>
        </div>
    </div>
</div>

<div id="query_content_results" style="padding-top: 10px"></div>
</div>
</div>

<script type="text/ng-template" id="saveQueryModal.html">
    <div class="modal-header">
        <h4>Save Query</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form" name="save_query_form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Project</label>

                <div class="col-sm-10">
                    <span>{{curQuery.project}}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Name.." ng-model="curQuery.name" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Description</label>

                <div class="col-sm-10">
                    <textarea class="form-control" placeholder="Description.."
                              ng-model="curQuery.description"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()">Close</button>
        <button class="btn btn-primary" ng-click="saveQuery(curQuery)" ng-disabled="save_query_form.$invalid">Save
        </button>
    </div>
</script>